/* En: src/app/moleculas/receta/receta.css */

/* Esto hace que el componente <app-receta> sea flexible */
:host {
  display: flex;
  height: 100%;
}

/* Esto hace que la tarjeta dentro del componente se estire */
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; /* ¡Clave! */
}

/* Esto evita que la imagen aplaste el contenido */
.card-body {
  flex-grow: 1; /* Ocupa el espacio sobrante */
}

/*CSS para la imagen */
.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}